PORT=5000
HOST=localhost:${PORT}
GIN_MODE=debug
LOGGING=enable
LOG_LEVEL=debug

# ----- PROXY ----- #
TRUSTED_PROXIES= # A semi-colon(;) separated list of proxy server origins

# ----- DATABASE (POSTGRES) ----- #
DB_URL=

# ----- JWT CONFIG ----- #
JWT_SECRET=
JWT_LIFETIME=10m
REFRESH_LIFETIME=252h

# ----- CORS CONFIG ----- #
ALLOWED_ORIGINS=

# ----- REDIS ----- #
REDIS_HOST=
REDIS_USER=
REDIS_PWD=

# ------ API KEYS ------- #
MAILTRAP_API_KEY= #Api key for mailtrap
ALPHAVANTAGE_API_KEY= #Api key for alphavantage
MASSIVE_API_KEY= # Api key for Massive (formerly Polygon.io)